*.py
node_modules/
backup_versions/
testdev/
fireTest/
py/
js/dataFetch.js
js/main.js
js/listingjson.js
js/meta.js
js/listing.js
js/nav.js
js/preloader.js
js/translate.js
js/nav4boot.js
js/lazyLoad.js
css/toggler.css
css/nav4boot.css
css/menutab.css
css/svg/
css/icons/
