.hover-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform
}

.hover-grow-shadow:active,
.hover-grow-shadow:focus,
.hover-grow-shadow:hover {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

@-webkit-keyframes hover-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px)
	}

	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px)
	}

	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px)
	}
}

@keyframes hover-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px)
	}

	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px)
	}

	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px)
	}
}

@-webkit-keyframes hover-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px)
	}
}

@keyframes hover-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px)
	}
}

.hover-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}

.hover-bob:active,
.hover-bob:focus,
.hover-bob:hover {
	-webkit-animation-name: hover-bob-float, hover-bob;
	animation-name: hover-bob-float, hover-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate
}

.hover-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	transition-property: transform
}

.hover-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity
}

.hover-float-shadow:active,
.hover-float-shadow:focus,
.hover-float-shadow:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px)
}

.hover-float-shadow:active:before,
.hover-float-shadow:focus:before,
.hover-float-shadow:hover:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px)
}

.hover-curl-top-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative
}

.hover-curl-top-right:before {
	pointer-events: none;
	position: absolute;
	content: '';
	height: 0;
	width: 0;
	top: 0;
	right: 0;
	background: #fff;
	background: linear-gradient(225deg, #fff 45%, #aaa 50%, #ccc 56%, #fff 80%);
	box-shadow: -1px 1px 1px rgba(0, 0, 0, .4);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: width, height;
	transition-property: width, height
}

.hover-curl-top-right:active:before,
.hover-curl-top-right:focus:before,
.hover-curl-top-right:hover:before {
	width: 25px;
	height: 25px
}

.hover-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow
}

.hover-shadow:active,
.hover-shadow:focus,
.hover-shadow:hover {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5)
}